@font-face { font-family: OpenSans; src: url('../font/OpenSans-Regular.ttf'); }

body{
	padding: 0 !important;
	margin: 0 !important;
	background-color: #fbfbfb;
	font-family: OpenSans !important;
	height: 1080px;
}

.main-container{
	background-color: transparent;
	/*width: 100%;
	height: 100%;*/
	max-width: 640px;	
	max-height: 1080px;
	background: url("../img/main-back.png") no-repeat center bottom;
}

.banner{
	background-color: transparent;
	width: 100%;
	background: url("../img/banner-back.png") no-repeat top;
	background-size: 100% 100%;
}
.top-text{
	font-family: OpenSans;
	font-size: 15px;
	text-align: center;
	font-weight: bold;
	padding: 0 !important;
	margin-bottom: 5px !important;
}

.logo{
	width: 100%;
	text-align: center;
	margin-bottom: 14px;
}

.content-list{
	font-family: OpenSans;
	font-size:14px;
	font-weight: bold;
	color: #000000;
	list-style-type:none;
	padding: 0 0 80px 0 !important;
	margin-left:42.18%;
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}

.content-list li{
	margin-bottom: 10px;
}

.content-contaier{
	width: 100%;
	background-size: 100% 100%;
}

.txt-KRIJG{
	font-family: OpenSans;
	color:#4da401;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
}

.txt-WAAR{
	color: #ca2004;
	font-size: 24px;
	font-family: OpenSans;
	text-align: center;	
	font-weight: bold;
}

.btn-container{
	margin: 0px !important;
	padding-top: 0px;
	padding-left: 58px;
	padding-right: 58px;
	padding-bottom: 8px;
}
.btn-simple{
	width: 100%;
	font-family: OpenSans;
	font-size: 24px;
	color: #666666;
	border:1px solid #dbdbdb;
	border-radius: 3px;
	text-decoration: none !important;
	padding-top: 22px;
	padding-bottom: 15px;
	background: transparent;
	text-align: left;
	padding-left: 15px;
}

.btn-doorgan-container{
	text-align: center;
	margin: 0 !important;
	padding: 7px 0 0 0 !important;
}

.button_green{
}

.button_green:hover{
}

.align-center{
	text-align: center;
}

.ul-footer{
	/*list-style-type:none;*/
	text-align: center;
	width: 100%;
	margin: 0 auto;
	max-width: 297px;
}

.ul-footer img{
	float:left;
	margin-top: 15px;
	margin-bottom: 15px;
}
.img_gotrust{
	margin-left: 10px;
}
.img_thu{
	margin-left: 44px;
}
.img_rapid{
	margin-left: 53px;
}

/*start second*/
.second-top-banner{
	width:100%;
}

.second-top-banner tr{
	height: 65px;
}

.second-top-banner tr td{
	padding-left: 27px !important;
}

.top-title{
	width: 100%;
	height: 97px;
	text-align: center;
	font-size: 46px;
	color:#ffffff;
	background: url("../img/top-navcell.png") repeat-x;
}

.top-title p{
	font-size: 38px;
  	line-height: 97px;
  	text-align: right;
}

.second-banner{
	width:100%;
	height: 348px;
	background: url("../img/banner-back2.png") no-repeat bottom right;
	background-size: 523px 294px;
}
.second-banner img{
	padding-left:23px;
	padding-top: 23px;
}

.second-contentlist{
	width:100%;
	border: none;
}
.second-contentlist tr{
	height: 116px;
}
.second-contentlist tr td.left{
	padding-left:43px;
	width: 167px;
}

.second-contentlist tr td.right{
	padding-left:43px;
	width: 100%;
	padding-top: 0px;
  	padding-bottom: 0px;
}

.tablecell-button{
	border: none;
	background: transparent;
	width: 100%;
	height: 100%;
	background: url("../img/blue-listbar.png") no-repeat;
	padding:0px !important;
	color: #ffffff;
	font-size: 37px;
	font-family: OpenSans;
}

.txt-zorda{
	padding: 0 !important;
	margin: 43px 0 0 0 !important;
	font-size:25px;
	font-family: OpenSans;
	color:#353535;
	font-weight: bold;
	text-align: center;
}
.txt-grais{
	margin: 16px 0 0 0 !important;
	padding: 0 !important;
	text-align: center;
}
.txt-en{
	margin: 5px 0 0 0 !important;
	padding: 0 !important;
	text-align: center;
	font-family: OpenSans;
	font-size: 24px;
	font-weight: 600;
	color:#353535;
}
/*end second*/
@media screen and (max-width: 320px) {

	.content-list{
		margin-left: 40px;
	}

}